<div fxLayout="column" *ngIf="post|async as post; else noPost">
  <mat-card class="postcard">

    <mat-card-header class="postHeader" fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

      <div class="headText" fxFlex="100%">
        <mat-card-title class="titleText">
          <h3>{{post.title}}</h3>
        </mat-card-title>
        <mat-card-subtitle class="subtitleText">
          <em>Posted by {{post.author}} on {{post.metadata.postDate|date}}</em>
        </mat-card-subtitle>
      </div>

      <span class="spacer" fxFlex="100%" fxHide.lt-md></span>

      <div class="headTags" fxFlex="100%" fxLayout fxLayout.xs="column" fxLayoutAlign.gt-xs="end end" fxFlexAlign.xs="start start">
        <!-- <p>Post tags:</p> -->
        <mat-chip-list *ngFor="let tag of post.tags" fxLayout fxFlexOffset="2%">
          <mat-chip class="postTag">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>

    </mat-card-header>

    <mat-card-content class="postBody" fxFlex>
      {{post.content}}
    </mat-card-content>

    <!--FIXME need to get buttons stacked in a column on lt-md-->
    <mat-card-actions class="postActions" fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start">
      <button mat-raised-button name="button" fxFlexOffset="1%">Like</button>
      <button mat-raised-button name="button" fxFlexOffset="1%">Share</button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #noPost>
  <mat-card>
    <h1>No post found</h1>
  </mat-card>
</ng-template>
