<mat-card *ngIf="post">
  <div class="postcard" fxLayout="column">

    <div class="postHeader" fxlayout.lt-md="column">
      <mat-card-header>

        <div class="headText">
          <mat-card-title>
            {{(post|async)?.title}}
          </mat-card-title>
          <mat-card-subtitle>
            Posted by {{(post|async)?.author}} on {{(post|async)?.metadata.postDate|date}}
          </mat-card-subtitle>
        </div>

        <span class="spacer" fxFlex></span>

        <div class="headActions">
          action list
        </div>
      </mat-card-header>
    </div>

    <div class="postBody">
      <mat-card-content>
        {{(post|async)?.content}}
      </mat-card-content>
    </div>

  </div>
</mat-card>
