.postcard {
  //background-color: white;
  min-width: 200px;
}

.postHeader {
  // half green
  //background-color: rgba(0,127,0,1);
  //flex-wrap: wrap;
}

.headText {
  // full yellow
  //background-color: rgba(255,255,0,1);
  // margin          : 0.2em;
}

.titleText {
  // full blue
  //background-color: rgba(0,0,255,1);
  padding-top: 1em;
}

.subtitleText {
  // full red
  //background-color: rgba(255,0,0,1);
}

.headTags {
  // full blue
  //background-color: rgba(0,0,255,0.5);
  // margin          : 0.2em;
}

.postTag {
  //padding-top: 2em;
  // margin-top: 1em;
}

.spacer {
  // full grey
  //background-color: rgba(127,127,127,1);
  // margin          : 0.2em;
}

.postBody {
  // half red
  //background-color: black;
  padding: 1em;
}

.postActions {
  //background-color: orange;
  padding: 1em;
}